*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
/.gitignore
/app/proguard-rules.pro
/app/.gitignore
/thread-geny-annotation/.gitignore
/thread-geny-comlper/.gitignore
/cthreadlib/
/thread-genyhandle/.gitignore
/thread-genycomlper/.gitignore
/thread-genyannotation/.gitignore
